<a href=" ">
  <div class="group">
    <p class="group__group-name">グループ１</p>
    <p class="group__group-latest-message">メッセージ1</p>
  </div>
</a>
<a href=" ">
  <div class="group">
    <p class="group__group-name">グループ２</p>
    <p class="group__group-latest-message">メッセージ2.1</p>
  </div>
</a>
