%a{:href => " "}
  .group
    %p.group__group-name グループ１
    %p.group__group-latest-message メッセージ1
%a{:href => " "}
  .group
    %p.group__group-name グループ２
    %p.group__group-latest-message メッセージ2.1
