.message
  .message__upper-info
    .message__upper-info__talker
      名前
    .message__upper-info__date
      2019/03/01
  .message__text
    メッセージ1
.message
  .message__upper-info
    .message__upper-info__talker
      名前
    .message__upper-info__date
      2019/03/01
  .message__text
    メッセージ2
.message
  .message__upper-info
    .message__upper-info__talker
      名前
    .message__upper-info__date
      2019/03/01
  .message__text
    メッセージ3
